---
layout: base
permalink: /index.html
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ meta.siteName }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <section class="full | region">
    <div class="wrapper flow prose">
      <div class="feature | region region-space-l">
        <ul>
          {% for wiki in collections.allWikis %}
            <li>
              <a href="{{ wiki.url }}">{{ wiki.data.title }}</a>
              <p>{{ wiki.data.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>
